/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | @import '@primer/primitives/dist/scss/colors/_light.scss';
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   node_modules\@primer\css\color-modes\themes\light.scss 2:9  @import
 *   node_modules\@primer\css\color-modes\index.scss 3:9         @import
 *   node_modules\@primer\css\index.scss 14:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 2 \2502  @import '@primer/primitives/dist/scss/colors/_light.scss';\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   node_modules\\@primer\\css\\color-modes\\themes\\light.scss 2:9  @import\a   node_modules\\@primer\\css\\color-modes\\index.scss 3:9         @import\a   node_modules\\@primer\\css\\index.scss 14:9                    root stylesheet";
}
